*, h1 {
    color: darkgreen;
}
body {
    background-image: linear-gradient(to right, lightskyblue , lightyellow);
}
#map{
    width: 100vw;
    height: 25vw;
    border: 1px solid gray;
}
h5 {
    background-image: linear-gradient(to left, #f50606, blue);
    background-clip: text;
    color: transparent;
}
.card {
    background-image: linear-gradient(to right, lightyellow, lightskyblue);
}
input[type="text"]{
    border: 1px solid gray;
    outline: none;
}
button {
    border: 1px solid gray;
    outline: none;
}
li {
    background-color:rgba(0, 0, 0, 0.06);
    border: 1px solid lightgray;
}
.collapse {
    height: 14.5vw;
    overflow-y: scroll
}